<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Crave</title>

    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/style.css">

</head>

<body>
{{{ body }}}
  
<footer class="container page-footer grey lighten-3 teal-text z-depth-1 myFooter">
    <div class="nav-wrapper">
          <div class="footer-copyright grey lighten-3 teal-text myCopyright">
         
            <span id="mySignature"> © 2018  Mike Dandan</span>
            
            
          </div>
    </div>
  </footer>
    
  <!-- jQuery imports -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>